yoloV11/runs/detect/train/weights/best.onnx
HW1-Control_Allocation_DNN/data/data_0.npy
HW2-RESNET_Vehicle_Class/models/final_model.pth
HW4-Self-Supervised_Depth_Estimation/HW4_Eviscione_Pcrann.zip
HW3-Airplane_Trajectory_RNN/data/dataArray_table.csv